@mixin hoverIcon(){
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color:$grey;
	text-align: center;
	line-height: 30px;
}

@mixin htg(){
	background-color:$rosa-claro;
	color: $white;
	padding: 8px;
	font-size: 12px;
	display:inline-block;
	border-radius: 1em;
}